.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(../img/related-3.jpg);
  height: 90vh;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(../img/hero.jpg);
  height: 90vh;
  vertical-align: text-top;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(../img/customers.jpg);
  height: 90vh;
}

p {
  color: #fff;
}

h1 {
  color: #fff;
}
